PORT=8000
NODE_ENV=development

# Dev: pakai IP docker container (10.0.5.3)
# Prod: pakai nama container (postgresql-gx93hntzxvdxp97shblid0qa)
DATABASE_URL=

FRONTEND_URL=http://localhost:5173

JWT_SECRET=ganti_dengan_random_string_panjang
REFRESH_TOKEN_SECRET=ganti_dengan_random_string_lain

DIRECTUS_URL=
